:root{
    --bg-color: #887ec8;
    --button-color: #73c4eb;
    --button-color-press: ;
    --button-border: ;
    --text-color: #312D47;
    --white1: #F2F4F6;
    --white2: #EAEAEA;
}
/* :root{
    --bg-color: #B767FF;
    --button-color: #FFEE7D;
    --button-color-press: ;
    --button-border: #534C98;
    --text-color: #534C98;
    --text-color2: #534C98;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Dogica Pixel, Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, #887ec8, #9883cb, #a788cf, #b58dd1, #c392d4);
    min-height: 100vh;
    position: relative;
    padding-bottom: 8.5em;
}

/* Header */
 .header{
     margin-top: 20px;
     height: auto;
 }
.username{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 60px;
    color: var(--text-color);
}
.photo{
    margin: 30px auto 0;
    display: block;
    width: 40%;
    max-width: 250px;
    border-radius: 50%;
    margin-bottom: 40px;
}


/* Links */
.redes__li{
    display: flex;
    align-items: flex-start;
}
.button{
    text-align: center;
    overflow: hidden;
    font-size: 2rem;
    text-decoration: none;
    width: 80%;
    height: 70px;
    display: inline-block;
    background-color: var(--button-color);
    color: var(--text-color);
    position: relative;
    margin: 0 auto 30px;
    box-shadow: 10px 0  var(--button-border), -10px 0 var(--button-border), 0 10px var(--button-border), 0 -10px var(--button-border);
}
.redes__name{
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
}
.button::after,
.button::before{
    content: '';
    display: inline-block;
    height: 10px;
    width: calc(100% - 20px);
    background-color: var(--button-color);
    position: absolute;
    left: 10px;
    box-shadow: 10px 0  var(--button-border), -10px 0 var(--button-border), 0 0px transparent, 0 -0px transparent;
}
.button::after{
    top: -2px;
}
.button::before{
    bottom: -2px;
}

/* footer -------------------- */
.footer{
    position: absolute;
    bottom: 0; 
	width: 100%;
	height: auto;
	padding: 10px 0;
	background-color: var(--text-color);
	color: var(--white2);
}
.footer--a{
	text-decoration: none;
	color: var(--white1);
}
.footer__container__link{
	display: flex;
	justify-content: space-around;
	margin: 20px auto;
}
.footer__link__li,
.nav__ul{
	list-style-type:none;
}
.footer__hecho-por{
	width: 100%;
	text-align: center;
	font-size: 1rem;
}
.footer--a:hover{
	text-decoration:underline;
}