@font-face {
    font-family: Dogica Pixel;
    src: url('./asets/fonts/dogicapixel.woff');
}

:root{
    --bg-color: #887ec8;
    --button-color: #73c4eb;
    --button-color-press: #4183a1;
    --button-border: #312D47;
    --text-color: #312D47;
    --white: #F2F4F6;
    --one-color: rgba(255, 0, 0, .7);
    --two-color: rgba(0, 255, 0, .7);
    --tree-color: rgba(0, 0, 255, .7);
}
/* :root{
    --bg-color: #B767FF;
    --button-color: #FFEE7D;
    --button-color-press: ;
    --button-border: #534C98;
    --text-color: #534C98;
    --text-color2: #534C98;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Dogica Pixel, Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, #887ec8, #9883cb, #a788cf, #b58dd1, #c392d4);
    min-height: 100vh;
    position: relative;
    padding-bottom: 9em;
    font-display: swap;
}

/* Header */
 .header{
     margin-top: 20px;
     height: auto;
 }

.photo{
    margin:0 auto 60px;
    display: block;
    width: 45%;
    max-width: 250px;
    border-radius: 50%;
}

.username__container{
    display: flex;
    justify-content: center;
}
.username{
    font-size: 1.7rem;   
    margin-bottom: 60px;
    color: var(--text-color);
}
.glitch{
    display: inline-block;
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    /* text-shadow: 5px 5px #558ABB; */
    /* text-shadow:
    0.1em .05em  var(--one-color),        
    -0.1em .01em var(--two-color),
    0.07em -0.05em var(--tree-color); */
    animation: glitch 500ms 4;
}

.glitch span{
    position: absolute;
    top:0;
    left: 0;
}
.glitch span:first-child{
    animation: glitch 650ms 4;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    /* transition-duration: .1s;
    transform: translate(-0.04em, -0.025em); */
    align-items: glitch-move2;
    /* opacity: .7; */
}
.glitch span:last-child{
    animation: glitch 375ms 4;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    /* transform: translate(0.03em, 0.025em); */
    align-items: glitch-move1;
    /* opacity: .7; */
}
@keyframes glitch-move1{
    0%{
        transform: translate(0.08em, 0.025em);
    }
    100%{
        transform: translate(0, 0);
    }
}
@keyframes glitch-move2{
    0%{
        transform: translate(-0.06em, -0.03em);
    }
    100%{
        transform: translate(0, 0);
    }
}

@keyframes glitch {
    0%{
        text-shadow:
        -0.02em -.003em  var(--one-color),        
        -0.01em .02em var(--two-color),
        0.02em -0.07em var(--tree-color);
    }
    14%{
        text-shadow:
        -0.01em .02em  var(--one-color),        
        -0.01em .02em var(--two-color),
        0.05em -0.05em var(--tree-color);
    }
    15%{
        text-shadow:
        -0.1em .02em  var(--one-color),        
        -0.01em .03em var(--two-color),
        0.04em -0.05em var(--tree-color);
    }
    49%{
        text-shadow:
        0.05em -.06em  var(--one-color),        
        -0.01em .02em var(--two-color),
        -0.01em 0.05em var(--tree-color);
    }
    50%{
        text-shadow:
        0.02em -.06em  var(--one-color),        
        -0.01em .02em var(--two-color),
        -0.01em 0.05em var(--tree-color);
    }
    99%{
        text-shadow:
        -0.02em .02em  var(--one-color),        
        0.01em -.03em var(--two-color),
        -0.02em 0.02em var(--tree-color);
    }
    100%{
        text-shadow:
        -0.02em .02em  var(--one-color),        
        0.01em -.03em var(--two-color),
        -0.02em 0.02em var(--tree-color);
    }
}

/* Links */
.redes__li{
    display: flex;
    align-items: flex-start;
}
.button{
    text-align: center;
    overflow: hidden;
    font-size: 2rem;
    text-decoration: none;
    width: 80%;
    height: 70px;
    display: inline-block;
    background-color: var(--button-color);
    color: var(--text-color);
    position: relative;
    margin: 0 auto 35px;
    box-shadow: 10px 0  var(--button-border), -10px 0 var(--button-border), 0 10px var(--button-border), 0 -10px var(--button-border);
}
.redes__name{
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
}
.button::after,
.button::before{
    content: '';
    display: inline-block;
    height: 10px;
    width: calc(100% - 20px);
    background-color: var(--button-color);
    position: absolute;
    left: 10px;
    box-shadow: 10px 0  var(--button-border), -10px 0 var(--button-border), 0 0px transparent, 0 -0px transparent;
}
.button::after{
    top: -2px;
}
.button::before{
    bottom: -2px;
}

/* .button:hover{
    color: var(--white);
    box-shadow: 10px 0  var(--white), -10px 0 var(--white), 0 10px var(--white), 0 -10px var(--white);
} */

.button:active{
    font-size: 1.9rem;
    color: var(--text-color);
    background-color: var(--button-color-press);
    box-shadow: 8px 0  var(--text-color), -8px 0 var(--text-color), 0 8px var(--text-color), 0 -8px var(--text-color);
}
.button:active::after,
.button:active::before{
    left: 7px;
    width: calc(100% - 15px);
    background-color: var(--button-color-press);
}



/* footer -------------------- */
.footer{
    position: absolute;
    bottom: 0; 
	width: 100%;
	height: auto;
	padding: 10px 0;
    font-size: .6rem;
	background-color:var(--button-border);
	color: var(--white);
}
.footer--a{
	text-decoration: none;
	color: var(--white);
}
.footer__container__link{
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
    width: 85%;
}
.footer__link__li,
.nav__ul{
	list-style-type:none;
}
.footer__hecho-por{
	width: 100%;
}
.footer--a:hover{
	text-decoration:underline;
}
.footer__link__li{
    margin-bottom: 10px;
}
.footer__hecho-por{
    display: flex;
    justify-content: center;
}
.footer__img{
    width: 150px;
    position: absolute;
    bottom: 0;
}

@media (min-width: 500px) {
    .username{
        font-size: 2.5rem;
    }
    .footer{
        font-size: 1.2rem;
    }
}